@font-face {
    font-family: "visitor";
    src: url("../fonts/visitor1.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #6d7a70;
    overflow: hidden scroll;
    max-width: 900px;
    margin: 0 auto;
}

a {
    font-family: visitor;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    transform: scale(98%);
    color: #ffce0a;
    transition: color 0.3s;
}

h1 {
    font-family: visitor;
}

/* HEADER */

header {
    font-family: visitor;
    margin: 0 1% 0 1%;
    user-select: none;
}

/* Main header */

#mainheader {
    border: solid 1px black;
    padding: 5px 5px 0 5px;
    margin-top: 10px;
    margin-bottom: 3px;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: stretch;
    align-self: stretch;
    height: 150px;
    width: auto;
    overflow: hidden;
}

#logo {
    display: inline;
    gap: 5px;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
} 

.home-link {
    align-self: flex-start;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

#header-text {
    font-size: 10px;
    overflow: hidden;
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    display: none;
}

#scroll-text {
    font-size: 15px;
    transform: translateX(100%);
    white-space: nowrap;
    animation: scrolling 30s linear infinite;
}

.scroll-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 5;
    grid-row: 2;
    overflow: hidden;
}

@keyframes scrolling {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Navbar */

nav {
    display: flex;
    margin: 0 1% 0 1%;
    gap: 3px;
    position: sticky;
    top: 2%;
    height: 30px;
    user-select: none;
    z-index: 1;
}

.nav-element {
    border: solid 1px black;
    background-color: #6d7a70; 
    flex: 1 1 0px;
    padding: 1.5px;
    font-size: 14px;
    transition: transform 0.1s, background-color 0.1s, color 0.3s;
}

.active-btn {
    color: #ffce0a;
}

/* MAIN */

main {
    font-family: arial;
    margin: 0 1% 0 1%;
}

.main-element {
    padding-top: 50px;
}

/* Button grid */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
    margin: 30px auto;
    grid-auto-flow: dense;
    user-select: none;
}

.btn-grid a {
    border: solid 1px black;
    transition: transform 0.1s;
    overflow: hidden;
}

.img-btn {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.selected {
    transform: scale(102%) !important;
    z-index: 1;
}

.grid-element {
    position: relative;
}

.expandcell {
    grid-column: 1 / -1;
    border: solid 1px black;
    background-color: white;
    padding: 0 5%;
    user-select: text;
    display: none;
    z-index: 2;
}

.new div{
    display: inline-block;
}

.new-banner {
    font-family: visitor;
    font-size: 25px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: -30px;
    width: 120px;
    height: 20px;
    transform: rotate(-45deg);
    background-color: black;
    object-fit: contain;
    color: white;
    display: none;
}

/* Collapse */

.collapsed {
    display: none;
}

.visible {
    display: inline-block !important;
}

/* Video */

.video-btn {
    width: 100% !important;
    height: auto !important;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    display: none;
}

/* FOOTER */

footer {
    font-family: visitor;
    font-size: 14px;
    text-align: center;
    margin: 300px auto;
}
