@font-face {
    font-family: "visitor";
    src: url("../fonts/visitor1.ttf");
}

body {
    background-color: #6d7a70;
    overflow: hidden scroll;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */

header {
    font-family: "visitor";
    margin: 0 1% 0 1%;
    user-select: none;
}

/* Main header */

#mainheader {
    border: solid 1px black;
    padding: 5px 5px 0 5px;
    margin-bottom: 3px;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: repeat(2, minmax(0,1fr));
    justify-items: stretch;
    align-self: stretch;
    height: 150px;
    width: auto;
    overflow: hidden;
}

#logo {
    cursor: pointer;
    display: flex;
    gap: 5px;
    width: auto;
    grid-column: 1;
    grid-row: 1;
} 

#header-text {
    font-size: 10px;
    overflow: hidden;
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    display: none;
}

#scroll-text {
    font-size: auto;
    transform: translateX(100%);
    white-space: nowrap;
    animation: scrolling 30s linear infinite;
}

.scroll-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 5;
    grid-row: 2;
    overflow: hidden;
}

/* .grid-element {
    border: solid 1px red;
} */

@keyframes scrolling {
    from {
        transform: translateX(20%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Navbar */

nav {
    font-family: visitor;
    display: flex;
    margin: 0 1% 0 1%;
    gap: 3px;
    position: sticky;
    top: 2%;
    height: 30px;
    user-select: none;
}

.nav-element {
    border: solid 1px black;
    background-color: #6d7a70; 
    flex: 1 1 0px;
    padding: 7px;
    cursor: pointer;
    font-size: 9px;
    transition: transform 0.1s, background-color 0.1s;
}

.nav-element:hover {
    transform: scale(98%);
    background-color: #ffce0a;
    color: black;
}

.active-btn {
    color: #ffce0a;
}

/* MAIN */

main {
    font-family: arial;
    margin: 0 1% 0 1%;
}

.main-element {
    padding-top: 30px;
}